<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
    RewriteBase /clients/Vodafone/Documentation
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^api app.php [QSA,L]
#    RewriteRule ^api/(.*)$ app.php/$1 [L,QSA]
</IfModule>
