<div class="row row-eq-height">
    <div class="hidden-xs hidden-sm col-md-1 text-center"><h4>ID</h4></div>
    <div class="col-xs-10 col-md-10" style="border-left: 1px solid #ddd; border-right: 1px solid #ddd;"><h4>Selection</h4></div>
    <div class="col-xs-2 col-md-1">&nbsp;</div>
</div>