<div class="hidden-xs hidden-sm col-md-1 text-center">{{id}}</div>
<div class="col-xs-10 col-md-10" style="border-left: 1px solid #ddd; border-right: 1px solid #ddd;">{{{body_html}}}</div>
<div class="col-xs-2 col-md-1 text-center"><button id="delete" type='button' class='btn btn-danger' data-selection-id='{{id}}'>Delete</button></div>